body {
 	font-family: 'Roboto', sans-serif; 
	text-align: center;
}

/* Add CSS of <hr>  3 points */
hr{
	width: 10%;
	border-top: 7px dotted;
	color: orange;
}

header{
    display: grid;
    height: 120px;
    min-width: 120px;
	/* Add more properties  2 points */
	color: white;
	text-shadow: 2px 6px 8px #000000;
	background-image: url("../img/hand-painted-watercolor-background-with-sky-clouds-shape.jpg");
	background-position: right bottom;
}

.item{
	width: 50%;
	margin: 100px auto;
	/* Add more properties 2 points */
	text-align: left;
	line-height: 2;

}



/* Add CSS of class img-ski and img-beach 2 points*/
.img-ski{
	float: left;
}

.img-beach{
	float: right;
}

footer{
	padding: 20px;
	/* Add more properties 1 points */
	background-color: #A9A9A9;
}